body {
    font-family: 'Montserrat';
    font-size: 10px;
    background-color: #f1f5ff;
}
table {
    width: 50%;
    background-color: #0028a5;
}
table, th, td {
    border: 10px solid white;
    border-collapse: collapse;
}
th {
    color: #ffffff;
}
.normal {
    background-color: #f1f5ff;
}
.warning {
    background-color: #f8d1ba;
}
.workshop {
    background-color: #9bcfb5;
}
.Veranstaltungszeit{
  width: 15%;
}
.time{
    padding-left: 30px;
}
  
