body {
    font-family: 'Montserrat';
    font-size: 24px;
    background-color: #f1f5ff;
}
table {
    width: 100%;
    background-color: #0028a5;
}
table, th, td {
    border: 10px solid white;
    border-collapse: collapse;
}
th {
    color: #ffffff;
}
.normal {
    background-color: #f1f5ff;
}
.warning {
    background-color: #f96a58;
}
.Veranstaltungszeit{
  width: 40%;
}
.time{
    padding-left: 30px;
}
  
